absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyascii
anyio
appnope
asttokens
async-timeout
attrs
audioread
babel
backcall
bangla
beautifulsoup4
bleach
blinker
blis
bnnumerizer
bnunicodenormalizer
boto3
botocore
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
contourpy
coqpit
cryptography
cycler
cymem
Cython
dataclasses-json
dateparser
decorator
defusedxml
Deprecated
distro
docopt
einops
encodec
exceptiongroup
executing
fastjsonschema
filelock
Flask
flask-cors
fonttools
frozenlist
fsspec
g2pkk
grpcio
gruut
gruut-ipa
gruut-lang-de
gruut-lang-en
gruut-lang-es
gruut-lang-fr
h11
hangul-romanize
httpcore
httpx
httpx-sse
huggingface-hub
idna
importlib_metadata
importlib_resources
inflect
ipython
itsdangerous
jaconv
jamo
jedi
jieba
Jinja2
jiter
jmespath
joblib
jsonlines
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
lazy_loader
librosa
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mecab-python3
mistune
more-itertools
mpmath
msgpack
multidict
murmurhash
mypy-extensions
mysql-connector-python
nbclient
nbconvert
nbformat
networkx
nltk
num2words
numba
numpy
openai
orjson
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pip
pipreqs
plac
platformdirs
pooch
preshed
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pycparser
pydantic
pydantic_core
pydantic-settings
pygame
Pygments
pykakasi
PyMuPDF
PyMySQL
pynndescent
pyOpenSSL
pyparsing
pypinyin
pysbd
python-crfsuite
python-dateutil
python-dotenv
pyttsx3
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
s3transfer
safetensors
scikit-learn
scipy
setuptools
shellingham
six
smart-open
sniffio
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
SudachiDict-core
SudachiPy
sympy
tenacity
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
trainer
traitlets
transformers
TTS
typeguard
typer
typing_extensions
typing-inspect
tzlocal
umap-learn
Unidecode
urllib3
wasabi
wcwidth
weasel
webencodings
websocket-client
Werkzeug
wheel
wrapt
yarg
yarl
zipp
zstandard
